@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #440381;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Anek Malayalam', sans-serif;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* #197bbd */
    background-color: #197bbd;
    width: 40%;
    height: 25%;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}
input[type='text'] {
    height: 35px;
    font-size: 18px;
    outline: 0;
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.btn {
    background-color: #7189ff;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    padding: 5px;
    margin: 0 0 0 10px;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.btn:active {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: translateY(3px);
}
.btn:hover {
    opacity: 0.85;
}
.total,
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}
.error-message {
    color: red;
}
