* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    position: relative;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
